-
  name: VagrantHost01
  address: 192.168.0.120
  ssh_port: 22
  vnc_port: 5900
  username: vagrant
  ssh_password: vagrant
  type: vagrant_test
-
  name: VagrantHost02
  address: 192.168.0.120
  ssh_port: 22
  vnc_port: 5901
  username: soider
  ssh_password: vagrant
  type: vagrant_test
